<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Doockers - Multipurpose Template</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Font-awesome -->
<link href="css/font-awesome.min.css" rel="stylesheet">

<!-- Bootsnav -->
<link href="css/bootsnav.css" rel="stylesheet">

<!-- Cubeportfolio -->
<link href="css/cubeportfolio.min.css" rel="stylesheet">

<!-- OWL-Carousel -->
<link href="css/owl.carousel.css" rel="stylesheet">
<link href="css/owl.transitions.css" rel="stylesheet">

<!-- Slider -->
<link rel="stylesheet" type="text/css" href="css/settings.css">

<!-- Custom Style Sheet -->
<link rel="stylesheet" type="text/css" href="css/style.css">


<link rel="shortcut icon" href="images/short_icon.png">

<!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="overflow_hidden">
  
<!-- Loader Start -->
<div class="loading-page">
	<div class="counter">
		<p><img src="images/logo-white.png" alt="image"></p>
		<h2>0%</h2>
		<hr/>
	</div>
</div>
<!-- Loader End  -->
	
  
<!--  Header Start  -->
<header id="header-top_3">
	<div id="header-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-2 hidden-xs hidden-sm">
					<a href="javascript:void(0)"><img src="images/logo-white.png" alt="logo" /></a>
				</div>
				<div class="col-md-10 col-sm-12 col-xs-12">
					<div class="get-tuch text-left">
						<i class="fa fa-phone" aria-hidden="true"></i>
						<ul>
							<li>
								<h4>Phone Number</h4>
							</li>
							<li>
								<p>+1 900 234 567 - 68</p>
							</li>
						</ul>
					</div>
					<div class="get-tech-line">
						<img src="images/get-tuch-line.png" alt="line" />
					</div>
					<div class="get-tuch text-left">
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
						<ul>
							<li>
								<h4>Victoria Hall-2,</h4>
							</li>
							<li>
								<p>Doockers Melbourne, Australia</p>
							</li>
						</ul>
					</div>
					<div class="get-tech-line"><img src="images/get-tuch-line.png" alt="line" />
					</div>
					<div class="get-tuch text-left">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						<ul>
							<li>
								<h4>Email Address</h4>
							</li>
							<li>
								<p><a href="javascript:void(0)">info@Doockers_home.com</a>
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-default navbar-sticky bootsnav no-background">
		<div class="container">
			<!-- Start Header Navigation -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
						<i class="fa fa-bars"></i>
					</button>
				<a class="navbar-brand mobile-logo" href="javascript:void(0)"><img src="images/logo-dark.png" alt="logo" class="logo" /></a>
			</div>
			<!-- End Header Navigation -->
			<div class="collapse navbar-collapse clearfix" id="navbar-menu">
				<ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
					<li class="dropdown active">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Home</a>
						<ul class="dropdown-menu">
							<li><a href="creative-home.html">Creative Home Page</a>
							</li>
							<li><a href="corporative-home.html">Corporative Home Page</a>
							</li>
							<li class="active"><a href="logistic-home.html">Logistic Home Page</a>
							</li>
							<li><a href="e-commerce-home.html">E - Commerce Homa Page</a>
							</li>
							<li><a href="charity-home.html">Charity Home Page</a>
							</li>
							<li><a href="gym-home.html">Real Gym Home Page</a>
							</li>
							<li><a href="portfolio-home.html">Portfolio Home Page</a>
							</li>
							<li><a href="blog-home.html">Blog Home Page</a>
							</li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">About Us</a>
						<ul class="dropdown-menu">
							<li><a href="about-1.html">About Us Style - 1</a>
							</li>
							<li><a href="about-2.html">About Us Style - 2</a>
							</li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Services</a>
						<ul class="dropdown-menu">
							<li><a href="services-1.html">Services Style 1</a>
							</li>
							<li><a href="services-2.html">Services Style 2</a>
							</li>
							<li><a href="services-3.html">Services Style 3</a>
							</li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
						<ul class="dropdown-menu">
							<li><a href="portfolio-2-col.html">Portfolio - 2 Col</a>
							</li>
							<li><a href="portfolio-3-col.html">Portfolio - 3 Col</a>
							</li>
							<li><a href="portfolio-full-grid.html">Portfolio - fullwidth</a>
							</li>
							<li><a href="portfolio_masonry_3_col.html">Portfolio - Masonry</a>
							</li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
						<ul class="dropdown-menu">
							<li><a href="blog-with-sidebar.html">Blog + Sidebar</a>
							</li>
							<li><a href="blog-without-sidebar.html">Blog Full Grid</a>
							</li>
							<li><a href="blog-details-with-sidebar.html">Blog Detail + Sidebar</a>
							</li>
							<li><a href="blog-details-without-sidebar.html">Blog Detail Full Grid</a>
							</li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
						<ul class="dropdown-menu">
							<li class="dropdown">
								<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Shop Pages</a>
								<ul class="dropdown-menu">
									<li><a href="shop-product.html">Product Page</a>
									</li>
									<li><a href="product-detail.html">Product Detail Page</a>
									</li>
									<li><a href="checkout.html">Checkout Page</a>
									</li>
									<li><a href="checkout.html">Cart Page</a>
									</li>
								</ul>
							</li>
							<li><a href="faq.html">Faq's Page</a>
							</li>
							<li><a href="login.html">Login or Signup Page</a>
							</li>
							<li><a href="404-error.html">404 Error</a>
							</li>
						</ul>
					</li>

					<li><a href="contact-us.html">Contact Us</a>
					</li>
				</ul>
				<div class="menu_button pull-right"><a href="javascript:void(0)">Get Quote</a>
				</div>
			</div>
		</div>
	</nav>
</header>
<!--  Header End  -->


<!--  Banner Start  -->
<section class="rev_slider_wrapper">
	<div id="rev_slider_4" class="rev_slider" data-version="5.0">
		<ul>
			<!-- SLIDE  -->
			<li data-transition="fade">
				<img src="images/banner_7.jpg" alt="" data-bgposition="center center" data-bgfit="cover" class="rev-slidebg">
				<div class="tp-caption tp-resizeme" data-x="['left','left','left','left']" data-hoffset="['15','15','30','15']" data-y="['290','240','200','200']" data-voffset="['0','0','0','0']" data-responsive_offset="on" data-visibility="['on','on','on','on']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="800">
					<p class="banner_P">We craft unique & new digital experience layouts!</p>
				</div>
				<div class="tp-caption tp-resizeme" data-x="['left','left','left','left']" data-hoffset="['15','15','30','15']" data-y="['340','200','170','170']" data-voffset="['0','0','0','0']" data-responsive_offset="on" data-visibility="['on','on','on','off']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="800">
					<h3 class="banner_h3">Worldwide freight services</h3>
				</div>
				<div class="tp-caption tp-resizeme" data-x="['left','left','left','left']" data-hoffset="['15','15','30','15']" data-y="['400','290','230','230']" data-voffset="['0','0','0','0']" data-responsive_offset="on" data-visibility="['on','on','on','off']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="800">
					<h2 class="banner_h2"><strong>that can you trust</strong></h2>
				</div>
				<div class="tp-caption tp-resizeme" data-x="['left','left','left','left']" data-hoffset="['15','15','30','15']" data-y="['480','350','290','240']" data-voffset="['0','0','0','0']" data-responsive_offset="on" data-visibility="['on','on','on','on']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="800">
					<a href="javascript:void(0)" class="btn_dark">Read More</a>
					<a href="javascript:void(0)" class="btn_light">Join Now</a>
				</div>
			</li>

			<li data-transition="slideremoveleft">
				<img src="images/banner_8.jpg" alt="" data-bgposition="center center" data-bgfit="cover" class="rev-slidebg">
				<div class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['15','15','30','15']" data-y="['290','240','200','200']" data-voffset="['0','0','0','0']" data-responsive_offset="on" data-visibility="['on','on','on','on']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="800">
					<p class="banner_P">We craft unique & new digital experience layouts!</p>
				</div>
				<div class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['15','15','30','15']" data-y="['340','200','170','170']" data-voffset="['0','0','0','0']" data-responsive_offset="on" data-visibility="['on','on','on','off']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="800">
					<h3 class="banner_h3">Worldwide freight services </h3>
				</div>
				<div class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['15','15','30','15']" data-y="['400','290','230','230']" data-voffset="['0','0','0','0']" data-responsive_offset="on" data-visibility="['on','on','on','off']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="800">
					<h2 class="banner_h2"><strong>that can you trust</strong></h2>
				</div>
				<div class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['15','15','30','15']" data-y="['480','350','290','240']" data-voffset="['0','0','0','0']" data-responsive_offset="on" data-visibility="['on','on','on','on']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="800">
					<a href="javascript:void(0)" class="btn_dark">Read More</a>
					<a href="javascript:void(0)" class="btn_light">Join Now</a>
				</div>
			</li>

			<li data-transition="zoomout">
				<img src="images/banner_9.jpg" alt="" data-bgposition="center center" data-bgfit="cover" class="rev-slidebg">
				<div class="tp-caption tp-resizeme" data-x="['right','right','right','right']" data-hoffset="['15','15','30','15']" data-y="['290','240','200','200']" data-voffset="['0','0','0','0']" data-responsive_offset="on" data-visibility="['on','on','on','on']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="800">
					<p class="banner_P">We craft unique & new digital experience layouts!</p>
				</div>
				<div class="tp-caption tp-resizeme" data-x="['right','right','right','right']" data-hoffset="['15','15','30','15']" data-y="['340','200','170','170']" data-voffset="['0','0','0','0']" data-responsive_offset="on" data-visibility="['on','on','on','off']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="800">
					<h3 class="banner_h3">Worldwide freight services</h3>
				</div>
				<div class="tp-caption tp-resizeme" data-x="['right','right','right','right']" data-hoffset="['15','15','30','15']" data-y="['400','290','230','230']" data-voffset="['0','0','0','0']" data-responsive_offset="on" data-visibility="['on','on','on','off']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="800">
					<h2 class="banner_h2"><strong>that can you trust</strong></h2>
				</div>
				<div class="tp-caption tp-resizeme" data-x="['right','right','right','right']" data-hoffset="['15','15','30','15']" data-y="['480','350','290','240']" data-voffset="['0','0','0','0']" data-responsive_offset="on" data-visibility="['on','on','on','on']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="800">
					<a href="javascript:void(0)" class="btn_dark">Read More</a>
					<a href="javascript:void(0)" class="btn_light">Join Now</a>
				</div>
			</li>
		</ul>
	</div>
</section>
<!-- Banner End -->


<!-- How we are Start  -->
<div class="how_we_are">
	<div class="container">
		<div class="row how_we_bg">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="how_we_are_img">
					<img src="images/how_we_are.jpg" alt="image" class="img-responsive">
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 text-center">
				<div class="how_we_are_detail">
					<h3>How We Are</h3>
					<p>Nunc commodo tellus diam, sed molestie quam ferm tuvarius Etiam finibus lorem vel interdum volutpat Su pendisse potenti Duis non sem nisi Phasellus iaculis neque id fringilla. Sed suscipit erat egestas ante sollicitudin, quis tristique leo tristique.</p>
					<a href="javascript:void(0)" class="btn_light">Read More</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- How we are End  -->


<!-- logistic About Start -->
<section id="logistic_about" class="padding_bottom padding_top">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="about_img">
					<img src="images/logistic_about.png" alt="img" class="img-responsive">
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 logistic_detail">
				<div class="heading_logistic heading_space">
					<p>Who we are</p>
					<h2>Doockers logistic services</h2>
					<div class="border"></div>
				</div>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was versions of Lorem Ipsum.</p>
				<div class="menu_button"><a href="javascript:void(0)">Read More</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- logistic About End -->


<!-- We give you best Start  -->
<section id="the_best" class="padding_bottom padding_top">
	<div class="container text-center">
		<div class="row">
			<div class="col-md-12 heading p-b-35">
					<h2>WE GIVE YOU THE BEST</h2>
			</div>
		</div>
		<div class="row number-counters">
			<!-- first count item -->
			<div class="col-md-2 col-sm-4 col-xs-6 counters-item  m-t-35">
				<i class="fa fa-code" aria-hidden="true"></i>
				<strong data-to="30">0</strong>
				<p>Line of Code</p>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 counters-item  m-t-35">
				<i class="fa fa-user-o" aria-hidden="true"></i>
				<strong data-to="45">0</strong>
				<p>Happy User</p>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 counters-item  m-t-35">
				<i class="fa fa-cloud-download" aria-hidden="true"></i>
				<strong data-to="300">0</strong>
				<p>Download</p>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 counters-item  m-t-35">
				<i class="fa fa-laptop" aria-hidden="true"></i>
				<strong data-to="550">0</strong>
				<p>Responsive Design</p>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 counters-item  m-t-35">
				<i class="fa fa-check-square-o" aria-hidden="true"></i>
				<strong data-to="5000">0</strong>
				<p>Quality of Work</p>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 counters-item  m-t-35">
				<i class="fa fa-line-chart" aria-hidden="true"></i>
				<strong data-to="250">0</strong>
				<p>Project Deliverd</p>
			</div>
		</div>
	</div>
</section>
<!-- We give you best End  -->


<!--  Services Start  -->
<section id="services" class="padding_bottom padding_top service_border">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="heading_logistic heading_space">
					<p>What We Can Do</p>
					<h2>Special Services</h2>
					<div class="border"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="services_slider">
				<div class="item services_box">
					<div class="services_img">
						<img src="images/logistic_services1.jpg" alt="Image">
					</div>
					<div class="services_detail">
						<span>01</span>
						<h3>Air Freight</h3>
						<p>Ohose keno bosena tomader kotha eta golpo holeo parto pata lukie tobe portam ebng evabei amader sob kisu nai hote chae kivabe seto chole geleo.</p>
						<a href="javascript:void(0)">Read more</a>
					</div>
				</div>
				<div class="item services_box">
					<div class="services_img">
						<img src="images/logistic_services2.jpg" alt="Image">
					</div>
					<div class="services_detail">
						<span>02</span>
						<h3>Packaging & Storage</h3>
						<p>Ohose keno bosena tomader kotha eta golpo holeo parto pata lukie tobe portam ebng evabei amader sob kisu nai hote chae kivabe seto chole geleo.</p>
						<a href="javascript:void(0)">Read more</a>
					</div>
				</div>
				<div class="item services_box">
					<div class="services_img">
						<img src="images/logistic_services3.jpg" alt="Image">
					</div>
					<div class="services_detail">
						<span>03</span>
						<h3>Sea Freight</h3>
						<p>Ohose keno bosena tomader kotha eta golpo holeo parto pata lukie tobe portam ebng evabei amader sob kisu nai hote chae kivabe seto chole geleo.</p>
						<a href="javascript:void(0)">Read more</a>
					</div>
				</div>
				<div class="item services_box">
					<div class="services_img">
						<img src="images/logistic_services1.jpg" alt="Image">
					</div>
					<div class="services_detail">
						<span>01</span>
						<h3>Air Freight</h3>
						<p>Ohose keno bosena tomader kotha eta golpo holeo parto pata lukie tobe portam ebng evabei amader sob kisu nai hote chae kivabe seto chole geleo.</p>
						<a href="javascript:void(0)">Read more</a>
					</div>
				</div>
				<div class="item services_box">
					<div class="services_img">
						<img src="images/logistic_services2.jpg" alt="Image">
					</div>
					<div class="services_detail">
						<span>02</span>
						<h3>Packaging & Storage</h3>
						<p>Ohose keno bosena tomader kotha eta golpo holeo parto pata lukie tobe portam ebng evabei amader sob kisu nai hote chae kivabe seto chole geleo.</p>
						<a href="javascript:void(0)">Read more</a>
					</div>
				</div>
				<div class="item services_box">
					<div class="services_img">
						<img src="images/logistic_services3.jpg" alt="Image">
					</div>
					<div class="services_detail">
						<span>03</span>
						<h3>Sea Freight</h3>
						<p>Ohose keno bosena tomader kotha eta golpo holeo parto pata lukie tobe portam ebng evabei amader sob kisu nai hote chae kivabe seto chole geleo.</p>
						<a href="javascript:void(0)">Read more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--  Services End -->


<!--  Parallax Image Start  -->
<div class="parallax_image">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="parallax_detail">
					<span>Well Come</span>
					<h2>Doockers HTML5</h2>
					<h3>WE'LL HELP MANAGE YOUR SITE VERY EASY</h3>
					<div class="p-t-35">
						<a href="javascript:void(0)" class="btn_dark">Buy Now</a>
						<a href="javascript:void(0)" class="btn_light">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--  Parallaxe Image End  -->


<!-- Latest News Start  -->
<section id="news" class="padding_bottom padding_top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="heading_logistic p-b-35">
					<p>DON'T TAKE OUR WORD</p>
					<h2>News Update</h2>
					<div class="border"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 m-t-35">
				<div class="logistic_news">
					<img src="images/logistic_news1.jpg" alt="image">
					<div class="logistic_news_detail">
						<h3><a href="javascript:void(0)">Secure strong revenue growth</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti...</p>
						<span><img src="images/latest_small.png" alt="image"> by Michael Jordan</span>
						<span><i class="fa fa-calendar" aria-hidden="true"></i> 14 Mar 2017</span>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-xs-12 left_news m-t-35">
				<div class="row p-b-35">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="logistic_news">
							<img src="images/logistic_news2.jpg" alt="image">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="logistic_news">
							<div class="logistic_news_detail">
								<h3><a href="javascript:void(0)">Secure strong revenue growth</a></h3>
								<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit adipiscing elit...</p>
								<span><img src="images/latest_small.png" alt="image"> by Michael Jordan</span>
								<span><i class="fa fa-calendar" aria-hidden="true"></i> 14 Mar 2017</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="logistic_news">
							<img src="images/logistic_news3.jpg" alt="image">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="logistic_news">
							<div class="logistic_news_detail">
								<h3><a href="javascript:void(0)">Secure strong revenue growth</a></h3>
								<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit adipiscing elit...</p>
								<span><img src="images/latest_small.png" alt="image"> by Michael Jordan</span>
								<span><i class="fa fa-calendar" aria-hidden="true"></i> 14 Mar 2017</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Latest News End-->


<!--  Tabs Start  -->
<section class="tabs padding_bottom padding_top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="heading_logistic heading_space">
					<p>We do Best</p>
					<h2>The Best of Both Worlds</h2>
					<div class="border"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="faq_box padding-bottom">
					<ul class="items">
						<li><a href="javascript:void(0)" class="expanded">What is do i have to tell you a few lorem?</a>
							<ul class="sub-items" style="display:block;">
								<li>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess iure poss imusven am aliquam.iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess iure poss imusven am aliquam.iure poss imusven am aliquam</p>
								</li>
							</ul>
						</li>
						<li><a href="javascript:void(0)">What is do i have to tell you a few lorem?</a>
							<ul class="sub-items">
								<li>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess iure poss imusven am aliquam.iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess iure poss imusven am aliquam.iure poss imusven am aliquam</p>
								</li>
							</ul>
						</li>
						<li><a href="javascript:void(0)">Where are you located?</a>
							<ul class="sub-items">
								<li>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess iure poss imusven am aliquam.iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess iure poss imusven am aliquam.iure poss imusven am aliquam</p>
								</li>
							</ul>
						</li>
						<li><a href="javascript:void(0)">What is do i have to tell you a few lorem?</a>
							<ul class="sub-items">
								<li>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess iure poss imusven am aliquam.iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess iure poss imusven am aliquam.iure poss imusven am aliquam</p>
								</li>
							</ul>
						</li>
						<li><a href="javascript:void(0)">What is do i have to tell you a few lorem?</a>
							<ul class="sub-items">
								<li>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess iure poss imusven am aliquam.iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess iure poss imusven am aliquam.iure poss imusven am aliquam</p>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="tabs_img">
					<img src="images/tabs_image.jpg" alt="image">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Tabs End  -->


<!-- Team -->
<section id="team" class="padding_bottom padding_top">
	<div class="container">
		<div class="row ">
			<div class="col-md-12">
				<div class="heading_logistic heading_space">
					<p>We do Best</p>
					<h2>Meet our team</h2>
					<div class="border"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="logistic_team_slider" class="owl-carousel owl-theme">
				<div class="item">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="col-md-4 team_image">
							<img src="images/team-1.jpg" alt="image">
						</div>
						<div class="col-md-8 team_details">
							<h3>Micle Router</h3>
							<span>CEO & Founder</span>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
							<ul>
								<li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								</li>
								<li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li><a href="javascript:void(0)"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
								</li>
								<li><a href="javascript:void(0)"><i class="fa fa-behance" aria-hidden="true"></i>
    </a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="col-md-4 team_image">
							<img src="images/team-2.jpg" alt="image">
						</div>
						<div class="col-md-8 team_details">
							<h3>July Stephar</h3>
							<span>Leading Specialist</span>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
							<ul>
								<li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								</li>
								<li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li><a href="javascript:void(0)"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
								</li>
								<li><a href="javascript:void(0)"><i class="fa fa-behance" aria-hidden="true"></i>
    </a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="col-md-4 team_image">
							<img src="images/team-1.jpg" alt="image">
						</div>
						<div class="col-md-8 team_details">
							<h3>Micle Router</h3>
							<span>CEO & Founder</span>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
							<ul>
								<li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								</li>
								<li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li><a href="javascript:void(0)"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
								</li>
								<li><a href="javascript:void(0)"><i class="fa fa-behance" aria-hidden="true"></i>
    </a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="col-md-4 team_image">
							<img src="images/team-2.jpg" alt="image">
						</div>
						<div class="col-md-8 team_details">
							<h3>July Stephar</h3>
							<span>Leading Specialist</span>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
							<ul>
								<li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								</li>
								<li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li><a href="javascript:void(0)"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
								</li>
								<li><a href="javascript:void(0)"><i class="fa fa-behance" aria-hidden="true"></i>
    </a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="col-md-4 team_image">
							<img src="images/team-1.jpg" alt="image">
						</div>
						<div class="col-md-8 team_details">
							<h3>Micle Router</h3>
							<span>CEO & Founder</span>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
							<ul>
								<li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								</li>
								<li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li><a href="javascript:void(0)"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
								</li>
								<li><a href="javascript:void(0)"><i class="fa fa-behance" aria-hidden="true"></i>
    </a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="col-md-4 team_image">
							<img src="images/team-2.jpg" alt="image">
						</div>
						<div class="col-md-8 team_details">
							<h3>July Stephar</h3>
							<span>Leading Specialist</span>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
							<ul>
								<li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								</li>
								<li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li><a href="javascript:void(0)"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
								</li>
								<li><a href="javascript:void(0)"><i class="fa fa-behance" aria-hidden="true"></i>
    </a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /#Team -->


<!--  Partners Start  -->
<div id="partners">
	<div class="container">
		<div class="row">
			<div id="partners_slider">
				<div class="item partners_box">
					<a href="javascript:void(0)"><img src="images/partner1.png" alt="Image"></a>
				</div>
				<div class="item partners_box">
					<a href="javascript:void(0)"><img src="images/partner2.png" alt="Image"></a>
				</div>
				<div class="item partners_box">
					<a href="javascript:void(0)"><img src="images/partner3.png" alt="Image"></a>
				</div>
				<div class="item partners_box">
					<a href="javascript:void(0)"><img src="images/partner4.png" alt="Image"></a>
				</div>
				<div class="item partners_box">
					<a href="javascript:void(0)"><img src="images/partner5.png" alt="Image"></a>
				</div>
				<div class="item partners_box">
					<a href="javascript:void(0)"><img src="images/partner1.png" alt="Image"></a>
				</div>
				<div class="item partners_box">
					<a href="javascript:void(0)"><img src="images/partner2.png" alt="Image"></a>
				</div>
				<div class="item partners_box">
					<a href="javascript:void(0)"><img src="images/partner3.png" alt="Image"></a>
				</div>
				<div class="item partners_box">
					<a href="javascript:void(0)"><img src="images/partner4.png" alt="Image"></a>
				</div>
				<div class="item partners_box">
					<a href="javascript:void(0)"><img src="images/partner5.png" alt="Image"></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--  Partners End  -->


<!-- Footer -->
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="footer_detail">
					<a href="javascript:void(0)"><img src="images/logo-white.png" alt="image">
					</a>
					<p>Lorem ipsum dolor amet consectur adipiscing elit sed do eiusmod tempor incididunt.Lorem ipsum dolor amet consectur adipiscing .Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida leo id est venenatis, quis vehicula sem aliquet. </p>
					<div class="adres">
						<p><i class="fa fa-phone" aria-hidden="true"></i>
						</p>
						<p>
							<span>+(10) 123 456 7896</span>
							<span>+(10) 123 456 7899</span>
						</p>
					</div>
					<div class="adres">
						<p><i class="fa fa-envelope-open-o" aria-hidden="true"></i>
						</p>
						<p>
							<a href="javascript:void(0)"><span>info@Doockers_multipurpose.com</span></a>
							<a href="javascript:void(0)"><span>support@Doockers_multipurpose.com</span></a>
						</p>
					</div>
					<div class="adres">
						<p><i class="fa fa-map-marker" aria-hidden="true"></i>
						</p>
						<p>
							<span>Doockers Multipurpose, 06 Highley St,</span>
							<span>Victoria, Australia.</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="footer_news">
					<h3>Recent Posts</h3>
					<div id="sync1" class="owl-carousel">
						<div class="item"><img src="images/footer1.jpg" alt="image">
						</div>
						<div class="item"><img src="images/footer2.jpg" alt="image">
						</div>
						<div class="item"><img src="images/footer3.jpg" alt="image">
						</div>
						<div class="item"><img src="images/footer4.jpg" alt="image">
						</div>
					</div>
					<div id="sync2" class="owl-carousel">
						<div class="item"><img src="images/footer1-1.jpg" alt="image">
						</div>
						<div class="item"><img src="images/footer1-2.jpg" alt="image">
						</div>
						<div class="item"><img src="images/footer1-3.jpg" alt="image">
						</div>
						<div class="item"><img src="images/footer1-4.jpg" alt="image">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="footer_news">
					<h3>Find Us</h3>
					<div id="map"></div>
				</div>
			</div>
		</div>
		<!-- Back To Top -->
		<a href="#top" class="scroll"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
		<!-- /#Back To Top -->
		<div class="footer_bottom">
			<div class="row">
				<div class="col-md-7">
					<div class="copyright">
						<p>Copyright 2017 - Doockers - Multipurpose Template Co. Inc. All Rights Reserved. Designed by <a href="https://themeforest.net/user/99_design"> 99_Designs.</a>
						</p>
					</div>
				</div>
				<div class="col-md-5">
					<ul class="socialicons">
						<li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						</li>
						<li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						</li>
						<li><a href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						</li>
						<li><a href="javascript:void(0)"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- /#Footer -->


<script src="js/jquery.2.2.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/bootsnav.js"></script>
<script src="js/jquery.cubeportfolio.min.js"></script>
<script src="js/jquery-countTo.js"></script>
<script src="js/jquery.appear.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAOBKD6V47-g_3opmidcmFapb3kSNAR70U"></script>
<script src="js/gmaps.js"></script>
<script src="js/contact.js"></script>
<script src="js/themepunch/jquery.themepunch.tools.min.js"></script>
<script src="js/themepunch/jquery.themepunch.revolution.min.js"></script>
<script src="js/themepunch/revolution.extension.layeranimation.min.js"></script>
<script src="js/themepunch/revolution.extension.navigation.min.js"></script>
<script src="js/themepunch/revolution.extension.parallax.min.js"></script>
<script src="js/themepunch/revolution.extension.slideanims.min.js"></script>
<script src="js/themepunch/revolution.extension.video.min.js"></script>
<script src="js/functions.js"></script>
</body>
</html>